body{
    font-family: Arial, sans-serif;
}

nav{
width: 100%;
    height: 60px;
    background: #344051
}

.logo{
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    padding-left: 300px;
    float: left;
}

.menu0{
    float: left;
    padding-left: 300px;
}

.menu0 li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    margin: 432px 0px 0px 250px;
    color: #2c384a;
    text-align: center;
    
}
.title__container h1{
    font-size: 60px;
    font-weight: bold; 
}

.title__container h4{
    margin: 40px;
    font-size: 25px;
    color: #aeb2bb;    
}
        
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 14px;
}        
.str2{
    font-size: 25px;
    text-transform:uppercase;
    color: #263244;
    text-align: center;
    margin-top: 108px;
    font-weight: 300;  
}
.p1{
    font-size: 12px;
    text-transform: capitalize;
    color: #979da6;
    margin: 325px;
    margin-bottom: 40px
   
}

.p2{
    font-size: 12px;
    text-transform: capitalize;
    color: #979da6;
    margin-top: 40px
}

.str2 input{
     height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 42px;
}

     


